<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duan1_truongndph07899">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".adapter.DictonaryActivity"></activity>
        <activity android:name=".activity.Ghinho_congviecActivity"></activity>
        <activity android:name=".activity.Nhap_congviecActivity"></activity>
        <activity android:name=".activity.tuDienn" />
        <activity android:name=".activity.infovanpham" />
        <activity android:name=".activity.tacgia" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.gioithieu" />
        <activity android:name=".activity.hocnghe" />
<!--        <activity android:name=".xemvideo" />-->
        <activity android:name=".activity.playvideo" />
        <activity android:name=".activity.elearning" />
        <activity android:name=".activity.vanpham" />
        <activity android:name=".activity.infotracuu" />
    </application>

</manifest>